.table-of-content {
  margin: 1rem 0 1.5rem;

  summary {
    font-size: 18px;
    color: $white;
    background-color: #555;
    padding: 5px 20px;
    margin-bottom: 0 !important;
    cursor: pointer;
  }

  nav {
    padding: 10px;
    background-color: #f7f7f7;

    ol {
      list-style: none;
      counter-reset: section; // Reset numbering for top-level items

      li {
        position: relative;

        &::before {
          content: counter(section) ". "; // Number top-level items
          counter-increment: section;
          position: absolute;
          left: -1.5rem;
          font-weight: bold;
        }

        a {
          color: #333 !important;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // Dark mode styling
  .dark nav {
    background-color: #333;

    li,
    a {
      color: #fff !important;
    }
  }
}


